*,
::after,
::before {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

p.lora {
  font-family: "Lora", Arial, sans-serif;
}

.content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

header img.logo {
  width: 20vw;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
}

header nav ul li {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

section.banner {
  min-height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/banner-bg.jpg") center/cover;
  color: #fcfbfa;
}

section.banner .content {
  display: block;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
}

nav ul {
  list-style: none;
}

footer nav ul li {
  margin-bottom: 1rem;
}

section.banner h1,
section.banner h2 {
  text-shadow: 0px 6px 6px #000000;
}

section.banner h1 {
  font-size: 1.5rem;
}

section.banner h2 {
  font-size: 1rem;
  font-style: italic;
}

footer p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  header a {
    font-size: 1.2rem;
  }

  header img.logo {
    width: 15vw;
  }
}

@media (min-width: 1024px) {
  header a {
    font-size: 1.5rem;
  }

  header img.logo {
    width: 12vw;
  }
}

@media (min-width: 1440px) {
  header a {
    font-size: 2rem;
  }

  header img.logo {
    width: 10vw;
  }
}

@media (min-width: 590px) {
  section.banner.first {
    min-height: 30vw;
  }

  section.banner h1 {
    font-size: 3rem;
  }

  section.banner h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  section.banner.first {
    min-height: 40vw;
  }

  section.banner h1 {
    font-size: 4rem;
  }

  section.banner h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  section.banner h1 {
    font-size: 6rem;
  }

  section.banner h2 {
    font-size: 4rem;
  }
}

@media (min-width: 590px) {
  .footer .footer_main {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .advantages .advantage {
    display: flex;
    flex-direction: column;
  }

  .advantages .advantage p {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .advantages .advantage img {
    transition: all 0.8s ease-in-out;
  }

  .advantages .advantage img:hover {
    transform: scale(1.3);
  }
}

@media (min-width: 590px) {
  .select .select_cakes {
    display: flex;
    justify-content: space-between;
  }

  .select .select_cakes .select_cake {
    width: 45%;
  }

  .select .select_cakes .select_cake a {
    font-size: 1.2rem;
  }
}

/* Добавляем анимацию кнопок */
@media (min-width: 1024px) {
  .select .select_cakes .select_cake button,
  .select .select_cakes .select_cake a {
    transition: background-color 0.8s ease-out, color 0.8s ease-out;
  }

  .select .select_cakes .select_cake a:hover {
    background: #fcfbfa;
    color: #39312d;
  }

  .select .select_cakes .select_cake button:hover {
    background: #fcfbfa;
    color: #39312d;
  }
}

@media (min-width: 590px){
  .about .about_wrap {font-size: 1.5rem;}
}

@media (min-width: 768px){
  .about .about_wrap {width: 50%;}
}
  
@media (min-width: 1440px){
  .about .about_wrap {font-size: 2rem;}
}

@media (min-width: 590px){
  .reviews .content .review .review_text blockquote {font-size: 1.2rem;}
}

@media (min-width: 768px){
  .reviews .content .review {display: flex;}
  .reviews .content .review img{
    display: block;
    width: 10rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
  }
}

@media (min-width: 1440px){
  .reviews .content .review .review_text blockquote {font-size: 1.8rem;}
}

@media (min-width: 768px){
  .feedback {font-size: 1.2rem;}
  .feedback h3 {font-size: 3rem;}
}

@media (min-width: 768px){
  .cakes .cake .cake_buy .cake_buy_wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

@media (min-width: 1024px){
  .cakes .cake .cake_descript{
    display: flex;
  }
  .cakes .cake .cake_buy{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;
  }
  .cakes .cake .cake_buy a{
    display: inline-block;
    width: 30%;
    height: min-content;
    transition: all 0.8s ease-in;
  }
  .cakes .cake .cake_buy a:hover{
    text-decoration: none;
    background: #fcfbfa;
    color: #39312d;
    transform: scale(1.2);
  }
}

@media (min-width: 1200px){
  .cakes .cake{
    font-size: 1.5rem;
  }
  .cakes .cake .cake_buy a{
    font-size: 2rem;
  }
}

@media (min-width: 768px){
  .fillings h2{
    font-size: 3rem;
  }
  .fillings .content a{
    font-size: 3.5rem;
  }
}

/* Страница delivery.html */

@media (min-width: 425px){
  .delivery .delivery_price table{
    font-size: 1rem;
  }
}

@media (min-width: 590px){
  .delivery .delivery_price table{
    font-size: 1.2rem;
  }
}

@media (min-width: 768px){
  .delivery .delivery_price table {
    font-size: 1.5rem;
  }
}

/* index.html */
.advantages {
  background: #39312d;
  color: #fcfbfa;
}

.advantages .content {
  justify-content: space-between;
}

.advantages .advantage img {
  margin: 0 auto;
  max-width: 80%;
}

.advantages .advantage p {
  display: none;
}

.advantages .advantage a {
  text-decoration: none;
}

.select .select_cakes .select_cake img {
  width: 100%;
}

.select .select_cakes,
.reviews {
  background: linear-gradient(175deg, #fcfbfa, #39312d00),
    url("../img/загрузка.jfif");
}

.select .select_cakes .select_cake a {
  background: #39312d;
  border: 3px solid #39312d;
  color: #fcfbfa;
}

.select .select_cakes .select_cake a {
  cursor: pointer;
}

.reviews .content .review img {
  display: none;
}

.reviews .content .review .review_text {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.reviews .content .review .review_text blockquote {
  padding: 0.5rem;
  margin: 0.5rem;
}

.map iframe {
  width: 100%;
  height: 400px;
}

.about {
  background: url("../img/cute-bakery-banner-with-hand-drawn-line-art-cupcakes-hearts-pastel-background-horizontal-design_654662-5772.avif") center/cover no-repeat;
}

.about_wrap {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fcfbfa;
  padding: 2rem;
}

.about p {
  font-size: 1rem;
}

.about p.lora {
  font-style: italic;
  text-align: center;
}

.review_text {
  border: 1px solid #39312d18;
  background: linear-gradient(135deg, #fcfbfa 50%, #f0f0f0 50%);
}

.review_text blockquote {
  font-style: italic;
}

.feedback h3 {
  margin: 1rem;
  font-size: 1.5rem;
}

.feedback form input[type="text"],
.feedback form input[type="email"],
.feedback form textarea {
  width: 100%;
  background: transparent;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #39312d;
  outline: none;
}

.feedback form input::placeholder,
.feedback form textarea::placeholder {
  color: #666;
}

.feedback form input[type="file"] {
  display: none;
}

.feedback form label[for="download"] {
  text-decoration: underline;
  cursor: pointer;
  display: block;
  margin-bottom: 1rem;
}

.feedback form .form_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Настроим оформление для флажка */
.feedback form .form_submit input[type="checkbox"] {
  appearance: none;
  position: relative;
  min-height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

/* Добавляем новый значок для выбранного чекбокса */
.feedback form .form_submit input[type="checkbox"]::before {
  visibility: hidden;
  position: absolute;
  content: "\2714";
  color: #39312d;
  font-size: 2.2em;
  left: 0;
  top: -5px;
}

/* Показываем значок если чекбокс выбран */
.feedback form .form_submit input[type="checkbox"]:checked::before {
  visibility: visible;
}

.feedback form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem;
  background: #39312d;
  color: #fcfbfa;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  font-size: 1rem;
}

/* cakes.html */
.cakes .cake {
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.cakes .cake .cake_descript img {
  max-width: 90%;
}

.cakes .cake .cake_buy {
  padding: 0.5rem;
}

.cakes .cake .cake_buy a {
  display: inline-block;
  width: 90%;
  padding: 1rem;
}

.cakes .cake .cake_buy ul {
  list-style-position: inside;
  padding-left: 0;
}

.cakes {
  background-color: #39312d;
  color: #fcfbfa;
}

.cakes a {
  border: 1px solid #fcfbfa;
  color: #fcfbfa;
  font-size: 1rem;
}

/* fillings.html */
.fillings .content a {
  font-size: 2rem;
  font-weight: 700;
  color: #39312d;
}

.fillings .filling h3 {
  text-align: center;
}

.fillings .filling img {
  border-radius: 50%;
  margin-bottom: 1rem;
  filter: sepia(75%);
  transition: filter 0.3s ease;
}

.fillings .filling img:hover {
  filter: sepia(0);
}

.fillings .filling img:active {
  filter: sepia(0);
}

/* delivery.html */
.delivery h1 {
  font-size: 1.5rem;
}

.delivery .delivery_price table {
  font-size: 0.7rem;
  font-style: italic;
}

.delivery .delivery_about {
  display: none;
}

.delivery table {
  border-collapse: collapse;
}

.delivery table td {
  padding: 0.5rem;
}

.delivery table thead tr {
  border-bottom: 3px solid #39312d;
}